.main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 10px;
  justify-content: space-around;
  min-width: 70%;
  min-height: 400px;
}

.text {
  font-weight: 300;
  margin-top: 20px;
}

.icons-container {
  display: flex;
  gap: 20px;
}

.icons-container a {
  color: inherit; /* Ensure the icon color is inherited from the parent */
  text-decoration: none; /* Remove underline from links */
}

.icons-container a:visited {
  color: inherit; /* Ensure visited links do not change color */
}

.textWithBreaks span {
  display: inline;
}

@media (max-width: 742px) {
  .textWithBreaks span {
    display: block;
    margin-top: 10px; /* Adjust the value as needed */
  }
}
